<!doctype html>
<html>
<head>
  <title>DigiWeb Labs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="description" content="DigiWeb Labs|Website-Development|Web design|Digital Marketing|Event Management Service|Training|Website-Development Company in India, Delhi, Delhi_NCR"/>
  <link rel="stylesheet" href="navig.css">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
$(document).ready(function(){
    $(".icon").click(function(){
        $(".vertical-menu").slideToggle("slow");
    });

});
</script>
<script>
var m,x,y,z;
function myfunction(){
m=0;
setInterval(function() {
if(m==0){
x=document.getElementById("d1");
x.style.display="block";
y=document.getElementById("d2");
y.style.display="none";
z=document.getElementById("d3");
z.style.display="none";
m=1;
}
else if(m==1)
{
x=document.getElementById("d1");
x.style.display="none";
y=document.getElementById("d2");
y.style.display="block";
z=document.getElementById("d3");
z.style.display="none";
m=2;
}
else if(m==2){
x=document.getElementById("d1");
x.style.display="none";
y=document.getElementById("d2");
y.style.display="none";
z=document.getElementById("d3");
z.style.display="block";
m=0;
}
},4000);
}
myfunction();// it will called once page loaded
</script>
<script type="text/javascript">
$(window).load(function() {
    $(".loader").fadeOut("slow");
});
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
</head>
<body>
<!--<video playsinline autoplay muted loop id="myVideo">
  <source src="4k background footage Ae plugin plexus (1).mp4" type="video/mp4">
  <source src="4k background footage Ae plugin plexus (1).webm" type="video/webm">
  <source src="4k background footage Ae plugin plexus (1).ogv" type="video/ogv">
</video>-->

  <div class="topnav" id="mytopnav">
    <a href="#logo" class="logo"><h3><span style="color:red">DiGi</span><span style="color:white">Web</span><span style="color:red"> LabS</span></h3></a>
  <div class="topnav-right" id="mytopnav-right">
      <a href="#home" class="home">Home</a>
    <div class="div1"> <a href="" class="dropbtn">Services
      <i class="fa fa-caret-down"></i>
    </a>
     <div class="div2">
      <a href="#services"><img src="Website-Development.svg" width="28">  Website Developement</a>
	  <a href="#services"><img src="Digital-Marketing.svg"width="28">  Digital Marketing</a>
      <a href="#services"><img src="Branding.svg"width="28">  Branding</a>
      <a href="#services"><img src="Brand-Strategy.svg"width="28">  Brand Consulting</a>
      <a href="#services"><img src="UI-UX.svg"width="20" height="20">  UI/UX</a>
      <a href="#services"><img src="Graphics-Design.svg"width="28">  Graphic Design</a>
	  <a href="#services"><img src="Outdoor-Marketing.svg"width="28">Outdoor Marketing</a>
	  <a href="#services"><i class="fa fa-calendar-check-o" style="font-size:20px;color:#ffcccc"></i> Event Management Service</a>
	  <a href="#services"><img src="Website-Development.svg"width="25"> Training</a>
      <a href="#services"><img src="Photography.svg"width="28"> Photography</a>

     </div>
    </div>
      <a href="#meet">About Us</a>
      
  <a href="#Contact">Contact Us</a>
  <a href="tel:+91-9056135266"><i class="fa fa-phone"></i> (91)-9056135266</a></div>
<!--<a href="javascript:void(0);"target="_blank" class="icon" onclick="myfunction()"><i class="fa fa-bars" ></i></a>-->
<a href="#"class="icon" onclick="myfunction()"><i class="fa fa-bars" style="color:white"></i></a>
  </div>
  <!--vertical navigation bar-->
  <div class="vertical-menu">
      <a href="#home">Home</a>
      <a href="#services" class="active">Services
      <i class="fa fa-caret-down"></i></a>
	  <a href="#services"><img src="Website-Development.svg" width="28">  Website Development</a>
	  <a href="#services"><img src="Digital-Marketing.svg"width="28">  Digital Marketing</a>
      <a href="#services"><img src="Branding.svg"width="28">  Branding</a>
      <a href="#services"><img src="Brand-Strategy.svg"width="28">  Brand Consulting</a>
      <a href="#services"><img src="UI-UX.svg"width="20" height="20">  UI/UX</a>
      <a href="#services"><img src="Graphics-Design.svg"width="28">  Graphic Design</a>
	  <a href="#services"><img src="Outdoor-Marketing.svg"width="28">Outdoor Marketing</a>
	  <a href="#services"><i class="fa fa-calendar-check-o" style="font-size:20px;color:#ffcccc"></i> Event Management Service</a>
	  <a href="#services"><img src="Website-Development.svg"width="25"> Training</a>
      <a href="#services"><img src="Photography.svg"width="28"> Photography</a>
      <a href="#about">About Us</a>
      <a href="#Contact">Contact Us</a>
	  <a href="tel:+91-9056135266"><i class="fa fa-phone"></i> (91)-9056135266</a>
</div>
  
  <div class="loader"></div>
  <!-- service slider-->
  
 <div class="anim w3-content w3-section"style="max-width:100%; overflow:hidden">
 
 <div class="mySlides w3-animate-right" style="width:100%;">
 <div style="width:50%;float:left;"class="dv"><img src="web-design.png" style="width:100%;height:100%;padding:70px;object-fit:cover"></div>
  <div style="width:50%;float:left;text-align:left;" class="dv1"><a href="#Website Development"style="text-decoration:none;"> <h1 style="color:white;">Website Development</h1></a></br><p class="pp2">Our website development team designs engaging and professional websites for small and large businesses that meet your specifications.</p>
  <div class="kontact"style="float:bottom">
  <a href="#Contact" style="float:left">Contact Now</a>
  <!-- <a href="#Know More" style="float:left">Know More</a>-->
  </div>
  </div>
  </div>
  <div class="mySlides w3-animate-right" style="width:100%;">
 <div style="width:50%;float:left;"class="dv"><img src="marketing-digiweb labs.png" style="width:100%;height:100%;padding:70px;object-fit:cover"></div>
  <div style="width:50%;float:left;text-align:left;"class="dv1"><a href="#Digital Marketing"style="text-decoration:none"> <h1 style="color:white;">Digital Marketing</h1></a></br><p class="pp2">We make sure your brand message is one that will resonate with your target market across digital channels. What information are they looking for? </p>
  <div class="kontact"style="float:bottom">
  <a href="#Contact" style="float:left">Contact Now</a>
  <!-- <a href="#Know More" style="float:left">Know More</a>-->
  </div>
  </div>
  </div>
  <div class="mySlides w3-animate-right" style="width:100%">
 <div style="width:50%;float:left;"class="dv"><img src="branding.png" style="width:100%;height:100%;padding:70px;object-fit:cover"></div>
  <div style="width:50%;float:left;text-align:left;"class="dv1"><a href="#services1"style="text-decoration:none"> <h1 style="color:white;">Branding & Identity</h1></a></br><p class="pp2">Our website development team designs engaging and professional websites for small and large businesses that meet your specifications.</p>
  <div class="kontact"style="float:bottom">
  <a href="#Contact" style="float:left">Contact Now</a>
  <!-- <a href="#Know More" style="float:left">Know More</a>-->
  </div>
  </div>
  </div>
  <div class="mySlides w3-animate-right" style="width:100%">
 <div style="width:50%;float:left;"class="dv"><img src="web-design.png" style="width:100%;height:100%;padding:70px;object-fit:cover"></div>
  <div style="width:50%;float:left;text-align:left;"class="dv1"><a href="#services1"style="text-decoration:none"> <h1 style="color:white;">Event Management Service</h1></a></br><p class="pp2">Our website development team designs engaging and professional websites for small and large businesses that meet your specifications.</p>
  <div class="kontact"style="float:bottom">
  <a href="#Contact" style="float:left">Contact Now</a>
  <!-- <a href="#Know More" style="float:left">Know More</a>-->
  </div>
  </div>
  </div>
  
  <div class="mySlides w3-animate-right" style="width:100%">
 <div style="width:50%;float:left;" class="dv"><img src="web-design.png" style="width:100%;height:100%;padding:70px;object-fit:cover"></div>
  <div style="width:50%;float:left;text-align:left;" class="dv1"><a href="#services1"style="text-decoration:none"> <h1 style="color:white;">Training</h1></a></br> <p class="pp2">Our website development team designs engaging and professional websites for small and large businesses that meet your specifications.</p>
  <div class="kontact"style="float:bottom">
  <a href="#Contact" style="float:left">Contact Now</a>
 <!-- <a href="#Know More" style="float:left">Know More</a>-->
  </div>
  </div>
  </div>

  </div>
  <!--services description page-->
  <div class="serviceDescription" id="services"><h1 style="text-align:center;font-family:lato;font-size:54px;font-weight:800;font-style:normal;color:white;">Services</h1>
   <div class="serviceDescriptionInside1"><p>Customers’ expectations only go up. And when it comes to digital, today’s WOW is tomorrow’s ordinary. That’s why we focus on the future and things that matter: customer needs, sound data, and engaging designs that produce results. At Digiweb LabS, we create digital products and experiences that meet great expectations.</p></div>
   <div class="serviceDescriptionInside2">
   <table>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Website-Development.svg" width="35"></a>
	</td>
	<td>
	<a href="" style="color: #00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Website Development</b></a>
	</td>
	</tr>
	<tr>
	<td>
	We create everything from single page static websites to complex e-commerce websites
	</td>
	</tr>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Branding.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Branding & Corporate Identity</b></a>
	</td>
	</tr>
	<tr>
	<td>
	Whether it is market research, complete brand guideline, or just a logo, we do it all.
	</td>
	</tr>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Brand-Strategy.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Brand Consulting</b></a>
	</td>
	</tr>
	<tr>
	<td>
	With the help of our proprietary frameworks, we help you in creating a successful brand.
	</td>
	</tr>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Graphics-Design.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Graphic Design</b></a>
	</td>
	</tr>
	<tr>
	<td>
We help create engaging design collateral like flyers, brochures, posters and more
	</td>
	</tr>
	<td rowspan="2"><a href="#services1"><img src="Website-Development.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Training</b></a>
	</td>
	</tr>
	<tr>
	<td>
We help create engaging design collateral like flyers, brochures, posters and more
	</td>
	</tr>
	</table>
      </div>
   <div class="serviceDescriptionInside3">
    <table>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Digital-Marketing.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Digital Marketing</b></a>
	</td>
	</tr>
	<tr>
	<td>
	We are big on content and have expertise in contemporary techniques like SEO/SMO etc
	</td>
	</tr>
	<tr>
	<td rowspan="2"> <a href="#services1"><img src="UI-UX.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>UI/UX</b></a>
	</td>
	</tr>
	<tr>
	<td>
	Whether it is market research, complete brand guideline, or just a logo, we do it all.
	</td>
	</tr>
	<tr>
	<td rowspan="2"><a href="#services1"><img src="Outdoor-Marketing.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Outdoor Marketing</b></a>
	</td>
	</tr>
	<tr>
	<td>
    Present in 140 cities, we provide a plethora of media formats to advertise your brand
	</td>
	</tr>
	<tr>
	<td rowspan="2"><a href="#services1"><i class="fa fa-calendar-check-o" style="font-size:30px;color:#ffcccc"></i></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Event Management Service</b></a>
	</td>
	</tr>
	<tr>
	<td>
	Present in 140 cities, we provide a plethora of media formats to advertise your brand
	</td>
	</tr>
	<td rowspan="2"><a href="#services1"><img src="Photography.svg"width="35"></a>
	</td>
	<td>
	<a href="" style="color:#00334d;text-decoration:none;font-family:Open Sans;font-size:16px;font-weight:400;font-style:normal"><b>Photography</b>
	</td>
	</tr>
	<tr>
	<td>
	We specialize in e-commerce, product, real estate and in-store photography
	</td>
	</tr>
	</table>
</div>
  </div>
  <!--- Testimonial-->
  <div class="testyout">
<h2 style="text-align:center;font-family:lato;font-size:54px;font-weight:800;font-style:normal;color:white;">Testimonials</h2>

<div class="testy" id="d1"style="display:none">
  <img src="YRYHY.jpg" alt="Avatar" style="width:120px">
  <p><span style="font-family:lato;font-size:16px;font-weight:700;font-style:normal;color:white;">Hukmaram Bishnoi</span></br></br><p class="pp2">CEO & Founder, Digiweb Labs.</p></p></br>
  <p class="pp1">Working with Hukmaram is a pleasure. He always goes the extra mile to deliver over and above the brief. The Digweb Labs team is responsive, reliable and proactive.</p>
</div>

<div class="testy" id="d2" style="display:none">
  <img src="YRYHY.jpg" alt="Avatar" style="width:120px">
  <p><span style="font-family:lato;font-size:16px;font-weight:700;font-style:normal;color:white;">Hukmaram</span></br></br><p class="pp2">CEO & Founder, Digiweb Labs.</p></p></br>
  <p class="pp1">Working with Hukmaram is a pleasure. He always goes the extra mile to deliver over and above the brief. The Digweb Labs team is responsive, reliable and proactive.</p>
</div>

<div class="testy" id="d3" style="display:block">
  <img src="YRYHY.jpg" alt="Avatar" style="width:120px">
  <p><span style="font-family:lato;font-size:16px;font-weight:700;font-style:normal;color:white;">Bishnoi</span></br></br><p class="pp2">CEO & Founder, Digiweb Labs.</p></p></br>
  <p class="pp1">Working with Hukmaram is a pleasure. He always goes the extra mile to deliver over and above the brief. The Digweb Labs team is responsive, reliable and proactive.</p>
</div>
</div>

<!--
<table class="social">
<tr>
<td class="s1"><a href="#" class="fa fa-facebook" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-twitter" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-google" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-linkedin" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-youtube" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-instagram" id="s"></a></td>
<td class="s1"><a href="#" class="fa fa-pinterest" id="s"></a></td>
</tr>
</table>
-->
<div class="aboutdiv" id="meet">
<h1 style="text-align:center;font-family:lato;font-size:54px;font-weight:800;font-style:normal;color:white;">About Us</h1>
<h3 style="text-align:center;font-family:Open Sans;font-size:18px;font-weight:500;font-style:normal;color:white;">Our Strategy</h3>
  <div class="column1">
  <div class="strategy" style="background:#ffa366"><i class="fa fa-file-text-o" style="font-size:48px;color:white"></i></div>
<div class="strategy" style="background:#ff6666"><i class="fa fa-code" style="font-size:48px;color:white"></i></div>
<div class="strategy1" style="background:white"><b>Requirement</b></div>
<div class="strategy1" style="background:white"><b>Development</b></div>
</div>
<div class="column2">
 <div class="strategy" style="background:#66c2ff"><i class="fa fa-times-rectangle-o" style="font-size:48px;color:white"></i></div>
<div class="strategy" style="background:#b300b3"><i class="fa fa-headphones" style="font-size:48px;color:white"></i></div>
<div class="strategy1" style="background:white"><b>Delivery</b></div>
<div class="strategy1" style="background:white"><b>24/7 Support</b></div>
</div>
  </div>
  
  <div class="aboutdiv1" id="meet">
<h3 style="text-align:center;font-family:Open Sans;font-size:18px;font-weight:500;font-style:normal;color:white;">Our Skills</h3>
  <div class="column3">
  <p style="margin-left:10px;">Creative UI/UX</p>
<div class="containerr">
  <div class="skills UI">95%</div>
</div>

<p style="margin-left:10px;">Responsive Design</p>
<div class="containerr">
  <div class="skills design">92%</div>
</div>

<p style="margin-left:10px;">Application Development</p>
<div class="containerr">
  <div class="skills development">98%</div>
</div>

</div>
<div class="column4">
 <p style="margin-left:10px;">Online Marketing</p>
<div class="containerr">
  <div class="skills marketing">80%</div>
</div>

<p style="margin-left:10px;">Branding</p>
<div class="containerr">
  <div class="skills branding">88%</div>
</div>

<p style="margin-left:10px;">Event Management Service</p>
<div class="containerr">
  <div class="skills event">95%</div>
</div>

</div>
  </div>
  
  <!--Get in touch with-->
<div class="touchout" id="Contact">
<h1 style="text-align:center;font-family:lato;font-size:54px;font-weight:800;font-style:normal;color:white;">Get in touch with us</h1>
<p style="text-align:center">Have questions? Want to discuss a project? Drop your contact details and we'll get in touch</p>
<!--<div style="display:none;text-align:center" class="thanks">
<h2 style="color:red">Thanks for contacting us!
We will get back to you soon</h2>
</div>-->
<div class="touchin1">
                 	<li>
                      <i class="fa fa-map-marker" style="color:white;font-size:50px;"></i>
                      <h6 style="color:#c2d6d6;">ADDRESS</h6>
                      <p class="pp1">D-167, Ground Floor, <br>Sector 49, Noida - 201301, India<br></p>      
                    </li>
                    <li>
                      <i class="fa fa-mobile" style="color:white;font-size:50px;"></i>
                      <h6 style="color:#c2d6d6;">PHONE</h6>
                      <p class="pp1">+91-9056135266</p>
                      <p>&nbsp;</p>      
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" style="color:white;font-size:50px;"></i>
                      <h6 style="color:#c2d6d6;">EMAIL</h6>
                      <p class="pp1"><a href="mailto:design@dgweblabs.in" style="text-decoration:none">design@dgweblabs.in</a></p>      
                    </li>
                 </ul>

</div>
<div class="touchin2">
<ul>
<form action="https://script.google.com/macros/s/AKfycbykTLnyn0bV4vsV2C4rwgLpiOWWbDQNbdSaewoxBg/exec" class="gform" method="post" ng-app="myApp"  ng-controller="validateCtrl" name="myForm" novalidate>

<li class="fieldli"><p>
 <input type="text" name="name" ng-model="name" placeholder="Name" style="padding-left:14px;color:#00334d;" required>
  <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
  <span ng-show="myForm.name.$error.required">Username is required.</span>
  </span>
</p>
</li>
<li class="fieldli"><p>
  <input type="email" name="email" ng-model="email" placeholder="Email" style="padding-left:14px;color:#00334d;"required>
  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
</p>
</li>
<li class="fieldli"><p>
<select style="padding-left:14px;color:#00334d;" name="service interested in">
<option selected="true" disabled="disabled">Service interested in</option>
<option value="Web Development">Web Development</option>
<option value="Digital Marketing">Digital Marketing</option>
<option value="Branding">Branding</option>
<option value="Brand Consulting">Brand Consulting</option>
<option value="UI/UX">UI/UX</option>
<option value="Graphic Design">Graphic Design</option>
<option value="Outdoor Marketing">Outdoor Marketing</option>
<option value="Event Management Service">Event Management Service</option>
<option value="Training">Training</option>
<option value="Photography">Photography</option>
</select>
</p>
</li>
<li class="fieldli"><p>
  <input type="number" name="phone" ng-model="phone" ng-minlength="10" ng-maxlength="12" placeholder="Phone" style="padding-left:14px;color:#00334d;"required>
  <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
  <span ng-show="myForm.phone.$error.required">Number is required.</span>
  <span ng-show="myForm.phone.$error.number">Invalid phone number.</span>
  <span ng-show="myForm.phone.$error.minlength">Phone number is too short</span>
  <span ng-show="myForm.phone.$error.maxlength">Phone number is too large</span>
  </span>
</p>
</li>
<li class="fieldli1"><p>
<textarea placeholder="Message" style="padding-left:14px;color:#00334d;" name="message" required></textarea></p>
</li>
<li class="fieldli">
<p>
  <input type="submit"ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid"/>
</p>
</li>

</form>
</ul>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = '';
});
</script></div>
</div>
  
  
  
<div class="copyright">All Right Reserved &copy; 2018 Digiweb Labs </div>

<script>
var myIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  

    setTimeout(carousel, 6000);    
}
</script>
</body>
</html>
