  body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
	  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
	  padding-bottom: 10px;
      color: #333;
     font-weight: 500;
     line-height: 1em;
	  
  }
  .topnav{
    overflow: hidden;
    background-color: #00334d;
	margin:0 auto;
    position: fixed;
    width:100%;
    z-index:999;
	height:60px;
	top:0;
	border: 1px solid white;
	
  }
  .topnav a{
    float:left;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    color: #669999;
    padding: 14px 16px;
    font-size: 17px;
  }

  .topnav .logo{
    float:left;
    text-decoration:none;
    display:block;
    text-align:center;
    color: gray;
    padding: 14px 16px;
    font-size: 17px;
  }
 .topnav a:hover{
    color:#D3D3D3;
  }
  .topnav .icon{
    display: none;
  }
  .topnav-right{
    float: right;
  }
  .div1{
    float:left;
  }
  .div1 .dropbtn {
      font-size: 17px;
      border: none;
      outline: none;
      color: #669999;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;

  }
  .div2{
    overflow: hidden;
    display: none;
	position:fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-top: 3.5%;
    border-top: 1px solid red;
	color:#669999;
	
  }
  .div2 a{
    float:none;
    text-decoration:none;
    text-align:left;
    color: #669999;
    padding: 14px 16px;
    font-size: 17px;
    float: none;
    display: block;

  }
  .div1:hover .div2 {
    display: block;
}

.vertical-menu {
	overflow: hidden;
    background-color: white;
    min-width: 160px;
    z-index: 999;
    border-top: 1px solid red;
	display: none;
	position:relative;
	top: 60px;
}

.vertical-menu a {
    background-color: white;
    color: #669999;
    display: block;
    padding: 4px 10px;
    font-size: 17px;
    text-decoration: none;
	text-align:left;
}

.vertical-menu a:hover {
    background-color: #ccc;
}
.vertical-menu a.active {
    background-color: #D3D3D3;
    color: white;
}
.topnav a.home{
	color:red;
}
.anim{
	background-color:#00334d;
	width:100%;
	height:700px;
	position:relative;
	overflow: auto;
    z-index:1;
	top: 55px;
	border: 1px solid white;
	color:#c2d6d6;
	border-radius:12px;
	
}
 .kontact a{
	text-decoration:none;
	padding:8px;
	border:1px solid #1a66ff;
	border-radius: 50px;
	margin:14px;
    color:  #1a66ff;
    background-color: #00334d;	
}
.kontact a:hover{
	background-color: white;
	border:1px solid #1a66ff;
	border-radius: 70px;
	
}
.serviceDescription
{
	
	width:100%;
	height:750px;
	position:relative;
	top:70px;
	background-color:#00334d;
	border: 1px solid white;
	border-radius:12px;
	
}
.serviceDescriptionInside1{
	width: 30%;
	float: left;
	background-color:white;
	height: 620px;
	position: absolute;
    padding: 25px;
	left:2%;
	top:12%;
	color: #669999;
	border-radius:12px;
	line-height:2;
	font-family:Open Sans;
	font-size:16px;
	font-weight:500;
	font-style:normal;
	/*-webkit-animation-name: servicemymove1; 
    -webkit-animation-duration: 5s; 
    animation-name: servicemymove1;
    animation-duration: 5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-moz-animation-name: servicemymove1;
    -moz-animation-duration: 5s;*/
	
	/*background-image: url("banner-img.png");
	background-repeat: no-repeat;
	background-size:400px 300px;
	background-position: bottom;*/
	
}
.serviceDescriptionInside2{
	width: 30%;
	float: left;
	background-color:white;
	height: 620px;
	position: absolute;
    padding: 25px;
	left :34%;
	top:12%;
	color: #669999;
	border-radius:12px;
	font-family:Open Sans;font-size:16px;font-weight:500;font-style:normal;
	/*-webkit-animation-name: servicemymove2; 
    -webkit-animation-duration: 5s; 
    animation-name: servicemymove2;
    animation-duration: 5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-moz-animation-name: servicemymove2;
    -moz-animation-duration: 5s;*/
}
.serviceDescriptionInside3{
	width: 30%;
	float: left;
	background-color:white;
	height: 620px;
	position: absolute;
    padding: 20px;
	left:66%;
	top:12%;
	border-radius:12px;
	color: #669999;
	font-family:Open Sans;font-size:16px;font-weight:500;font-style:normal;
	/*-webkit-animation-name: servicemymove3; 
    -webkit-animation-duration: 5s; 
    animation-name: servicemymove3;
    animation-duration: 5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-moz-animation-name: servicemymove3;
    -moz-animation-duration: 5s;*/
}
/*@keyframes servicemymove1{
	0%{ background-color:#ffa366;}
	5%{background-color: #ff6666;}
	100%{background-color: #b300b3;}

}
@-webkit-keyframes servicemymove1{
    0%{ background-color:#ffa366;}
	50%{background-color: #ff6666;}
	100%{background-color: #b300b3;}
	}	
	
	@keyframes servicemymove2{
	0%{ background-color: #b300b3;}
	50%{background-color: #ffa366;}
	100%{background-color:  #ff6666;}

}
@-webkit-keyframes servicemymove2{
    0%{ background-color:#b300b3;}
	50%{background-color: #ffa366;}
	100%{background-color:  #ff6666;}
	}	
	@keyframes servicemymove3{
	 0%{ background-color:#ff6666;}
	50%{background-color:#b300b3;}
	100%{background-color: #ffa366;}

}
@-webkit-keyframes servicemymove3{
    0%{ background-color:#ff6666;}
	50%{background-color:#b300b3;}
	100%{background-color: #ffa366;}
	}	*/
 table, th, td {
	border-collapse: collapse;
	
	 

}
 th, td {
    padding: 5px;
    text-align: left;   
	
}

.testyout{
  background-color: #00334d;
  position:relative;
  width:100%;
  top:100px;
  min-height:350px;
  color:#c2d6d6;
  border: 1px solid white;
  border-radius:12px;
}
.testy {
  padding: 16px;
  position:absolute;
  margin-top:10px;
}

.testy::after {
  content: "";
  clear: both;
  display: table;
}

.testy img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.testy span {
  font-size: 20px;
  margin-right: 15px;
}
.pp1{font-family:Open Sans;font-size:16px;font-weight:500;font-style:normal;
	  
  }
  .pp2{ font-family:Open Sans;font-size:18px;font-weight:400;font-style:normal;}
h2{
font-family:lato;
font-size:54px;
font-weight:800;
font-style:normal;
}

.touchout{
	position:relative;
	width:100%;
	height:860px;
	top:130px;
	background-color: #00334d;
	color:#c2d6d6;
	border: 1px solid white;
    border-radius:12px;
	font-family:Open Sans;font-size:16px;font-weight:500;font-style:normal;
	
}
.touchin1{
	position:absolute;
	width:100%;
	height:250px;
	top:150px;
	list-style-type: none;
	padding:14px 50px;
	background-color:#00334d;
	
	 
	
}
li {
    float: left;
	width: 25%;
}
.touchin2{
	position:absolute;
	width:100%;
	height:450px;
	top:400px;
	padding:14px 20px;
	background-color:#00334d;
	
	
}
.fieldli {
    float: left;
	width:50%;
	list-style-type: none;
	
	
	
}
.fieldli1 {
    float: left;
	width:100%;
	list-style-type: none;
	
	
	
}
 input{
	 width:70%;
	 height:50px;
 }
 select{
	 width:70%;
	 height:50px;
 }
textarea{
	 width:100%;
	 height:100px;
 }
 input[type=submit]{
	 width:20%;
	 height:50px;
	 border: 1px solid #1a66ff;
	 border-radius:50px;
	 color:#00334d;
	 background-color:white;
	 
 }

 .aboutdiv{
width:100%;
height:500px;
top:150px;
position:relative;
background-color:#00334d;
border: 1px solid white;
border-radius:12px;

}
.column1{
float:left;
width:50%;
height:500px;
position:absolute;
top:70px;
left:0;
color:white;
}
.column2{
width:50%;
height:500px;
position:absolute;
top:70px;
left:50%;
color:white;
}
.strategy{
	float:left;
    border: 2px solid #eee;
	width:40%;
	margin-top:70px;
	margin-left:6%;
	height:100px;
	text-align:center;
	border-top-right-radius:12px;
	border-top-left-radius:12px;
	padding-top:20px;
	
}
.strategy1{
	float:left;
    border: 2px solid #eee;
	width:40%;
	margin-top:0px;
	margin-left:6%;
	height:100px;
	text-align:center;
	border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	color:#669999;
	padding-top:20px;
	
	
}
.aboutdiv1{
width:100%;
height:500px;
top:170px;
position:relative;
background-color:#00334d;
border: 1px solid white;
border-radius:12px;

}
.column3{
float:left;
width:50%;
height:500px;
position:absolute;
top:70px;
left:0;
color:white;
}
.column4{
width:50%;
height:500px;
position:absolute;
top:70px;
left:50%;
color:white;
}
.containerr {
  width: 80%;
  background-color: white;
  margin-left:10px;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.UI {width: 95%; background-color: #ffa366;}
.design {width: 92%; background-color: #66c2ff;}
.development {width: 98%; background-color: #ff6666;}
.marketing {width: 80%; background-color: #ff33cc;}
.branding {width: 88%; background-color: #ff7a14;}
.event {width: 95%; background-color: #ba0054;}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

 .copyright{
	 position:relative;
	 top:170px;
	 background-color:black;
	 height:100px;
	 color:white;
	 text-align:center;
	 padding-top:50px;
 }
 
 
  @media screen and (max-width: 1050px) {
	.topnav{position:absolute;}
    .topnav a{display: none;}
     .topnav .logo{display:block;
          float:left;
         }
    .topnav .icon{
      float: right;
      display: block;
    }
	
	.anim .mySlides .dv{
		float: none;
		display: none;
		visibility:hidden;
		width:0px;
		
	}
	.anim .mySlides .dv1{
		float: none;
		display: block;
		min-width: 100%;
		padding:7px;
		
		
	}
	
.anim .mySlides .dv1 .kontact a {
	text-decoration:none;
	padding:4px;
	border:1px solid #1a66ff;
	border-radius: 20px;
	margin:7px;	
	float:left;
}
.serviceDescription
{
	
	width:100%;
	height:1750px;
	position:relative;
	top:40px;
    
}

.serviceDescription .serviceDescriptionInside1{
	width: 90%;
	float: none;
	background-color: white;
	height: 300px;
	position: absolute;
    padding: 25px;
	display: block;
	left:5%;
	top:100px;
	font-size:13px;
	font-weight:300;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.serviceDescription .serviceDescriptionInside2{
	width: 90%;
	float: none;
	background-color: white;
	min-height: 600px;
	position: absolute;
    padding: 25px;
	display: block;
	left:5%;
	top: 400px;
	border-radius:0px;
	font-size:13px;
	font-weight:300;

}
.serviceDescription .serviceDescriptionInside3{
	width: 90%;
	float: none;
	background-color: white;
	height: 660px;
	position: absolute;
    padding: 25px;
	display: block;
	left:5%;
	top:950px;
	font-size:13px;
	font-weight:300;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
  
  .testyout{
  min-height:500px;
  top:50px;
  font-size:13px;
  font-weight:300;
}
 .testy {
      text-align: center;
  }
  .testy img {
      margin: auto;
      float: none;
      display: block;
  } 
  .pp1{
	  font-family:Open Sans;font-size:13px;font-weight:300;font-style:normal;
  }
  .pp2{ font-family:Open Sans;font-size:16px;font-weight:300;font-style:normal;}
   .touchout{
	   top:60px;
	   
   }
  .touchin1{
	position:absolute;
	width:100%;
	height:550px;
	top:250px;
	list-style-type: none;
	padding:14px 50px;
	 
	
}
  li {
    float: none;
	width: 100%;
   }
   .touchin2{
	position:absolute;
	width:100%;
	height:550px;
	top:800px;
	padding:14px 20px;
	
	
}

.fieldli {
    float: none;
	width:100%;
	list-style-type: none;
	
	
	
}
 input{
	 width:100%;
	 height:50px;
 }
 select{
	 width:100%;
	 height:50px;
 }
 input[type=submit]{
	 width:40%;
	 height:50px;
	 border-radius:50px;
	 
 }
/*.social {
	 
	 position:relative;
	 top:1060px;
	 height:50px;
	 width:100%;
	 background-color: #eee;
	 border-collapse:separate;
	 border-spacing:10px 5px;
	 
 }
 .s1{ 
     width:14.28%;
	 height:50px;
	 align-items:center;
	 
 }
 #s{ 
   padding: 20px 20px;
  font-size: 15px;
  width: 20px;
  height:20px;
  text-align: center;
  text-decoration: none;
  margin: 1px 1px;
  border-radius:50%;
  }
 
 */
  .aboutdiv{
width:100%;
height:700px;
position:relative;
top:565px;
border: 1px solid white;
border-radius:12px;
}

.column1{
float:none;
width:100%;
height:300px;
position:absolute;
top:70px;
left:0;
}
.column2{
width:100%;
height:300px;
position:absolute;
top:370px;
left:0;

}
 .aboutdiv1{
width:100%;
height:700px;
position:relative;
top:575px;
border: 1px solid white;
border-radius:12px;
}

.column3{
float:none;
width:100%;
height:300px;
position:absolute;
top:70px;
left:0;
}
.column4{
width:100%;
height:300px;
position:absolute;
top:360px;
left:0;

}
  .copyright{
	 position:relative;
	 background-color:black;
	 height:100px;
	 color:white;
	 text-align:center;
	 padding-top:50px;
	 top:580px;
 	 border: 1px solid white;
     border-top-left-radius:12px;
	 border-top-right-radius:12px;
 }
  }
  
  
  
  
  
  
  
